body{
    margin: 0 px ;
}
.logo{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    Background:  rgb(224, 158, 158);
    margin : 50px
}
    
.logo img {
    height: 30px;
    width: 30px;
}
.menu ul  {
    display :flex;
    

}
.menu ul li {
    list-style-type: none;
}
.menu ul li a{
    text-decoration: none;
    color : white;
    margin-left: 10px;
}
.primero {
    background-image: url(../img/2.jpg);
    padding: 200px;
    margin : 50px;
   
}
.fondo {
    
}
.centro{
    Display :flex ;
    fustify-content:flex-center;
    Fustify-content:flex-center;
     
}